<div id="demoWrapper" style="visibility:hidden">
  <div id="bg"></div>
    <div id="info" class="center">
      <h1>{#title /}</h1>
      <h2>{#subTitle /}</h2>
      <div id="info"><img id="feature" src="{#image1 /}">
        <p id="description">{#content /}</p>
      </div>
      <div id="nav">
        <img src="{#image2 /}">
        <img src="{#image3 /}">
        <img src="{#image4 /}">
        <img src="{#image5 /}">
        <img src="{#image6 /}">
      </div>
  </div>
</div>