<div id="userFeedback" class="cpda-visual cpda-form feedback">
  <div id="userFeedback-container">
      <div id="userFeedback.closeButton"></div>
        <h1 id="userFeedback-title" tabIndex="709">User Feedback</h1>
        <div id="userFeedback-text" tabIndex="709">How valuable was this course?</div>
        <form id="userFeedback-form" onsubmit="return false">
          <input id="radio1" type="radio" name="rateCourse" value="Not Valuable" tabIndex="709">Not Valuable<br></input>
          <input id="radio2" type="radio" name="rateCourse" value="Limited Value" tabIndex="709">Limited Value<br></input>
          <input id="radio3" type="radio" name="rateCourse" value="Average Value" tabIndex="709">Average Value<br></input>
          <input id="radio4" type="radio" name="rateCourse" value="Valuable" tabIndex="709">Valuable<br></input>
          <input id="radio5" type="radio" name="rateCourse" value="Very Valuable" tabIndex="709">Very Valuable<br></input>
          <div id="userFeedback-instructions" tabIndex="709">Please provide any additional comments about your experience with this course.</div>
          <textarea id="userFeedback-comment" rows="3" cols="20" name="comment" tabIndex="709"></textarea>
          <div id="userFeedback-commentLength"></div>
          <div id="userFeedback.submitButton" class="submit-button"></div>
        </form>
      <div id="userFeedback-error"></div>
    </div>
  </div>
</div>